@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  box-shadow: none !important;
}

*[data-focus] {
  box-shadow: none !important;
}

body.light-mode {
  --background-color: #f2f2f2;
  --background-color2: #d9d9d9;
  --background-color3:  #e6e6e6;
  --background-color4: #f0f0f0;
  --text-color: #0e0e0e;
  --border-color: #d9d9d9;
}

body.dark-mode {
  --background-color: #0e0e0e;
  --background-color2: #333333;
  --background-color3:  #4d4d4d;
  --background-color4: #666666;
  --text-color: #f2f2f2;
  --border-color: #333333;
}




.swiper-button-next::after,
.swiper-button-prev::after {
  color: #a8dadc;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #a8dadc !important;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

@media only screen and (max-width: 370px) {
  .fix-class > ul > li {
    font-size: 11px !important;
  }
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
  border: 2px solid #333;
  border-radius: 4px;
}


input[type="checkbox"]:checked,
input[type="checkbox"]:checked,
input[type="checkbox"]:checked{
  background-color: #ccc;
}


input[type="checkbox"]:checked:active,
input[type="checkbox"]:checked:focus,
input[type="checkbox"]:checked:hover {
  outline: none;
  box-shadow: none;
  background-color: #333;
}

input[type="checkbox"]:hover:not(:checked) {
  box-shadow: none;
}

input[type="checkbox"] + label:hover {
  cursor: default;
}

input[type="checkbox"]:hover:not(:checked) {
  cursor: default;
}

input[type="checkbox"]:focus {
  outline: none;
}

input[type="checkbox"] + label {
  cursor: default;
}

input[type="checkbox"] + label:hover {
  background-color: transparent;
}


